<div class="container">
<h1>Welcome to Video Gallery application</h1>
 <!--Information about current platform-->
  <p class="greetingsText paddingFromLeft">
    The current search platform is {{getNameOfPlatform()}}
  </p>
 <!--Information about the parameters of current platform-->
  <p class="greetingsText paddingFromLeft">
    You can search by key word or fill in the specific parameters of {{getNameOfPlatform()}}
  </p>
  <ul>
    <li *ngFor="let item of getListOfPlatformParameters()" class="nav-item col-lg-4 paddingFromLeft">
      {{item.parameterName}}
    </li>
  </ul>
</div>
