

.paddingAndmarginAll {
    padding: 5% !important; 
    margin: 1%;
}

input.ng-dirty.ng-invalid {
    border: 2px solid #ff0000;
}

input.ng-dirty.ng-valid {
    border: 2px solid #6bc502;
}

p, label, input  .textDecoration, h3 {
    font-size: large;
    font-weight: 400;
    font-family: sans-serif;
}