<nav class="navbar  navbar-dark bg-dark">
    <a class="navbar-brand" href="https://sparkequation.com/">Spark</a>
  <div class="navbar-header">
      <button type="button" class="navbar-toggler" data-target="#mainNavBar" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse" id="mainNavBar">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">Home</li>
          <li class="nav-item">Film Search</li>
          <li class="nav-item">Contact</li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      <ul class="nav navbar-nav navbar-right ">
              <li>Subscribe</li>
          </ul>
  </div>

</nav>
