<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <!--Brand-->
    <a class="navbar-brand" href="https://sparkequation.com/">
        <img src="https://sparkequation.com/images/logo_white.svg" alt="Spark" height="100" width="100">
    </a>

    <!--Toogler-->
    <button type="button" class="navbar-toggler" data-target="#navBarMenuContent" data-toggle="collapse"
        aria-controls="navBarMenuContent" aria-expanded="false" aria-label="Toogle">
        <span class="navbar-toggler-icon"></span> 
    </button>

    <!--Menu-->
    <div class="navbar-collapse collapse btn-group" id="navBarMenuContent">
            <ul class="navbar-nav  mr-auto" >
                <li *ngFor="let item of MenuItemsArr" class="nav-item col-lg-4" >
                        <a class="nav-link btn btn-primary text-dark" role="button" routerLink={{item.routerNavigator}} 
                        [ngClass]="{'btn-success': item.isActive, 'btn-primary': item.isActive==false }" 
                        (click)=item.changeActive()>
                                {{item.name}}
                    </a>
                </li>
                </ul>
  </div>
</nav>
