@{ 
    ViewBag.Title = "Видео галлерея";
}
<div class="col-lg-4 col-lg-offset-4" clear="both">
    <h1>
        Добро пожаловать в галерею фильмов!!!
       
    </h1>
</div>
<div class="col-lg-4 col-lg-offset-4" clear="both">
    <h3>
        Служба по поиску фильмов находится по адресу @Html.RouteLink(
                                                        @Url.RouteUrl("videoGalleryApiRoute", new { controller = "videoGalleryApi", httproute = "" })
                                                        , new { controller = "videoGalleryApi", HttpRoute = true }
                                                        , "videoGalleryApiRoute"
                                                    )
        

    </h3>
</div>
