<div>
  <h3>The current search gets <span>{{_resultSearch.totalcountOfFilmsByKeyword}}</span> results</h3>
  <button class="btn btn-info btn-block" routerLink='/searchFilms'>Back to search</button>
</div>
<div class="d-flex flex-wrap container-fluid">
  <div *ngFor="let item of _resultSearch.currentFilmCollectionForView" class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <div class="card">
      <img [src]="item.Poster">
      <div>
        <a [href]="item.imdbID" target="_blank" alt="No image">{{item.Title}} - {{item.Year}}</a>
      </div>
    </div>
  </div>
</div>
<div class="btn-group pull-xs-right">
  <button *ngFor="let page of PageNumbers" (click)="changePage(page)" class="btn btn-outline-primary" [class.active]="page == selectedPage">
    {{page}}
  </button>
</div>