<div class="container">
  <h1>Search page</h1>
  <p class="textDecoration">
    The current platform to search: {{_platform.nameOfPlatform}}
  </p>
  <!--Form to search-->
  <form novalidate [formGroup]="_platform.form"  (ngSubmit)="DoSearch(_platform.form)">
    <!--div for users mistake-->
    <div class="bg-warning p-a-1 m-b-1 textDecoration" *ngIf="formSubmitted && form.invalid">
      <h4>Try to fix this mistakes:</h4>
      <ul>
        <li *ngFor="let error of _platform.form.getFormValidationMessages(form)">
          {{error}}
        </li>GetSearchModel
      </ul>
    </div>

    <div class="form-group  col-4 col-offset-4" *ngFor="let control of _platform.form.FormFilmControls">
      <label>{{control._name}}</label>
      <input class="form-control" [(ngModel)] = "_platform.searchModel[control._property]" name="{{control._property}}"
      formControlName = "{{control._property}}" placeholder="{{control._placeholder}}" />
    </div>

    <div class="btn-group col-4 col-offset-4">
      <button class="btn btn-primary " type="submit" [disabled]="formSubmitted &&  _platform.form.invalid" [class.btn-secondary]="formSubmitted &&  _platform.form.invalid">
        <i class="fa fa-search"></i>
        Search
      </button>
      <button class="btn btn-secondary " type="reset">
        <i class="fa fa-recycle"></i>
        Clear form
      </button>
    </div>
  </form>
</div>







    <!-- div for Query string-->
    <!-- <div class="form-group col-lg-4 col-lg-offset-4">
      <label class="textDecoration">Name of film: </label>
      <input class="form-control formElement" [(ngModel)]="getSearchModel().filmName" name="name" 
        required
        pattern="^[а-яА-ЯёЁa-zA-Z0-9- ]{4,}$"
        placeholder="Enter name of film"   />
    </div> -->
    <!-- div for year of the film-->
    <!-- <div class="form-group col-lg-4 col-lg-offset-4 ">
      <label class="textDecoration">Year of creation: </label>
      <input class="form-control" pattern="^[12][0-9]{3}$" [(ngModel)]="getSearchModel().YearOfCreation"
        placeholder="Enter the year" name="year" />
    </div> -->
    <!--contorl button div-->