<div>
  <h3 style="background-color: #c8a2c8">The current search gets <span>{{currentCountOfSearch}}</span> results</h3>
  <button class="btn btn-info btn-block" routerLink='/searchFilms'>Back to search</button>
</div>
<div  class="d-flex flex-wrap container-fluid">
  <div *ngFor="let item of FilmCollection">
    <div class="card">
      <img [src]="item.Poster">
    <div>
      <div><a [href]="item.imdbID" target="_blank" alt="No image">{{item.Title}} - {{item.Year}}</a></div>
    </div>
  </div>  
</div>
</div>
